@import "../../mixins.scss";

@mixin imgStyles {
  margin: 0.5rem;
  border-radius: 50%;
  border: 0.2rem solid whitesmoke;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  width: 138px;
  height: 138px;
}

.myServerContainer {
  display: inline-flex;
}
.myServersCardsContainer {
  height: calc(20rem + 30vh);
  width: 24.5rem;
  background: rgba(0, 0, 0, 0.4);
  // margin-left: 1rem;
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.myServerCardContainer {
  height: 15.5rem;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  margin-bottom: 1rem;
  .title {
    margin: 0.5rem;
    font-weight: 500;
  }
  .subtitle {
    margin: 0.5rem;
    margin-top: -0.4rem;
    font-weight: 400;
    font-size: 1rem;
  }
  .imgAndButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    img {
      @include imgStyles;
    }
    .buttonContainer {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      place-self: center;
      button {
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem;
        width: 9rem;
        height: 5rem;
      }
    }
  }
}

.viewUsersContainer {
  width: 30rem;
  height: calc(20rem + 30vh);
  background: rgba(0, 0, 0, 0.4);
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  .header {
    display: inline-flex;
  }
  .subHeader {
    width: 14rem;
    h2 {
      font-weight: 500;
    }
  }
  img {
    @include imgStyles;
  }
  .viewUsersInformationContainer {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    * {
      align-items: center;
      text-align: center;
      padding: 0.3rem;
    }
  }
}

.myServersCardsContainer,
.viewUsersContainer {
  overflow-y: auto;
}

.usersList {
  margin-top: 1rem;
  width: 100%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 1fr;
  .textContainer {
  }
  h2 {
    padding: 0.8rem;
    margin-bottom: -0.7rem;
    font-weight: 600;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0.8rem;
  }
  h3 {
    font-weight: 400;
    font-size: 1rem;
    &::before {
      font-weight: 500;
      content: "ID: ";
    }
  }
  h4 {
    font-weight: 500;
  }
  h5 {
    font-weight: 300;
    @include linearGradient;
    color: lightgrey;
  }
  h6 {
    color: lightgrey;
    font-weight: 300;
    margin-top: 0.1rem;
    padding-bottom: 0.8rem;
  }
  .imgContainer {
    display: flex;
    align-items: center;
    img {
      float: right;
      width: 105px;
      height: 105px;

      // filter: drop-shadow(0rem 0.3rem 0.6rem black);
    }
  }
}
