@import "../../mixins.scss";

@mixin basicBox {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: inline-flex;
}

.addServersContainer {
  @include basicBox;
  margin: 1rem 0rem 1rem 0rem;
  // width: 40rem;
  width: 100%;
  height: calc(2rem + 25vh);
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

.muted {
  font-weight: 300;
  @include linearGradient;
}

.addedServerContainer {
  @include basicBox;
  padding: 1.3rem;
  margin: 1rem 1rem 1rem 0rem;
  width: 15rem;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 400;
    font-size: 0.8rem;
    span {
      color: var(--primaryColor);
      @include linearGradient;
    }
  }
  i {
    color: var(--primaryColor);
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.1s;
    border-radius: 1rem;
    &:hover {
      color: var(--secondaryColor);
    }
  }
}

@mixin basicInstructionsBox {
  // width: 30rem;
  width: 50vw;
  background: rgba(255, 255, 255, 0.05);
  // height: 12rem;
  max-height: 30vh;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  .title {
    color: var(--primaryColor);
    font-weight: 600;
    @include linearGradient;
  }
}

.instructionsModalContainer {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.instructionsContainer {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  .header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    i {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 1rem;
      font-size: 1.3rem;
      // margin-left: 18rem;
      padding: 0.3rem;
    }
  }
  .ownerInstructions {
    @include basicInstructionsBox;
  }
  .userInstructions {
    @include basicInstructionsBox;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .addedServerContainer {
    padding: 1rem;
    margin: 0.5rem;
    width: 12rem;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
  }
}
