@import "../../mixins.scss";

@mixin basicBox {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: inline-flex;
}

.addServersContainer {
  @include basicBox;
  margin-top: 1rem;
  width: 28rem;
  height: calc(2rem + 20vh);
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
}

.addedServerContainer {
  @include basicBox;
  padding: 1.3rem;
  margin: 1rem 1rem 1rem 0rem;
  width: 15rem;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  h3 {
    font-weight: 600;
  }
  h4 {
    font-weight: 400;
    font-size: 0.8rem;
    span {
      color: var(--primaryColor);
      @include linearGradient;
    }
  }
  i {
    color: var(--primaryColor);
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.1s;
    border-radius: 1rem;
    &:hover {
      color: var(--secondaryColor);
    }
  }
}
