.privacyPolicyContainer,
.tosContainer {
  h3 {
    font-weight: 600;
    color: lightgrey;
  }
  h4 {
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 0.2rem;
  }
  p {
    color: lightgrey;
  }
}
