* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: #282c34;
  --lightSuccess: rgba(46, 204, 113, 0.85);
}

body {
  background: var(--backgroundColor);
  color: whitesmoke;
}

body a {
  color: whitesmoke;
}

/* SHORTCUTS */

.center {
  margin: 0 auto;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.c {
  margin: 0 auto;
}
.cursorPointer {
  cursor: pointer;
}
.whiteSmoke {
  color: whitesmoke;
}
.lightSuccess {
  color: var(--lightSuccess);
}

/* SHORTCUTS */

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
  z-index: 10;
}

.nav nav li {
  display: block;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  font-size: 1.5em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover {
  color: var(--themeColorPrimary);
  text-decoration: underline;
}

.rightNav {
  position: absolute;
  right: 1rem;
}

.appContainer {
  margin: 0 auto;
  width: 50vw;
  margin-top: 7rem;
}
