* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: #282c34;
}

body {
  background: var(--backgroundColor);
  color: whitesmoke;
}

body a {
  color: whitesmoke;
}
