@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap");
@import "./mixins.scss";

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: #282c34;
  --lightSuccess: rgba(46, 204, 113, 0.85);
  --primaryColor: #9b59b6;
  --secondaryColor: #8e44ad;
}

body {
  background: var(--backgroundColor);
  color: whitesmoke;
}

a {
  color: var(--primaryColor);
  // background: -webkit-linear-gradient(rgba(241, 148, 236, 0.11), #333);
  transition: 0.2s;
  &:hover {
    color: var(--secondaryColor);
  }
}

nav a {
  color: whitesmoke;
}

/* SHORTCUTS */

.center {
  margin: 0 auto;
}
.flexCenter {
  display: flex;
  justify-content: center;
}
.c {
  margin: 0 auto;
}
.cursorPointer {
  cursor: pointer;
}
.whiteSmoke {
  color: whitesmoke;
}
.lightSuccess {
  color: var(--lightSuccess);
}
.muted {
  color: grey;
}
.gradient {
  @include linearGradient;
}

/* SHORTCUTS */

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
  z-index: 10;
}

.nav nav li {
  display: block;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  font-size: 1.5em;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}
.nav a:hover {
  color: var(--primaryColor);
  text-decoration: underline;
}

.rightNav {
  position: absolute;
  right: 1rem;
}

.appContainer {
  margin: 0 auto;
  width: 50vw;
  margin-top: 7rem;
}

.btn,
button,
input[type="submit"] {
  border-radius: 1rem;
  border: 0.1rem solid var(--secondaryColor);
  font-size: 1rem;
  padding: 0.8rem;
  background: var(--primaryColor);
  color: whitesmoke;
  transition: 0.2s;
  cursor: pointer;
}
button.btn:active,
button:active,
input[type="submit"]:active {
  border: 0.2rem solid var(--secondaryColor);
}
.btn:hover,
button:hover,
input[type="submit"]:hover {
  border: 0.1rem solid var(--primaryColor);
  background: var(--secondaryColor);
}

.noBorderRight {
  border-radius: 1rem 0rem 0rem 1rem;
}
.noBorderLeft {
  border-radius: 0rem 1rem 1rem 0rem;
}

input[type="text"] {
  background: rgba(0, 0, 0, 0.4);
  border: 0.1rem solid var(--primaryColor);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 0rem;
  color: whitesmoke;
  &:focus {
    border: 0.1rem solid var(--secondaryColor);
  }
}
