.notFoundContainer {
  width: 100%;
  h1,
  .buttonContainer,
  .logoContainer {
    display: flex;
    justify-content: center;
  }
  h1,
  button {
    text-align: center;
  }
  .buttonContainer {
    margin-top: 1rem;
  }
}
