@import "../../mixins.scss";

.landingContainer {
  margin-top: -0.5rem;
  /* width not 100vw because of weird overflow... */
  width: 99.4vw;
  transform: translateX(-25%);
  background: rgb(40, 44, 52);
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(155, 89, 182, 1) 100%
  );
  height: 40rem;
}

.landing {
  margin: 0 auto;
  width: 60vw;
  /* Uncomment for helper boxes */
  //   background: rgba(0, 0, 0, 0.4);
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .content {
    display: inline-flex;
    .left,
    .right {
      /* Uncomment for helper boxes */
      //   background: rgba(0, 0, 0, 0.4);
      width: 50%;
      height: 20rem;
    }
    .left {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-weight: 600;
      }
      h2 {
        font-weight: 400;
        color: lightgrey;
      }
    }
    .right {
      height: 40rem;
      perspective: 800px;
      img {
        // transform: skew(-10deg, 10deg);
        margin-top: 2rem;
        margin-left: 4rem;
        transform: rotate3d(0.5, -0.866, 0, 15deg) rotateZ(-1deg);
        width: 30rem;
        height: auto;
      }
    }
  }
}

.homeButton {
  width: 50%;
  @include linearGradient;
  background: white;
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 1.2rem;
  border: var(--primaryColor) solid 0.2rem;
  &:hover {
    @include linearGradient;
    background: var(--secondaryColor);
    color: white;
    border: white solid 0.2rem;
  }
  &:active {
    @include linearGradient;
    background: white;
    color: var(--primaryColor);
    border: var(--primaryColor) solid 0.2rem;
  }
}

.featuresContainer {
  .title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 1rem;
  }
  .featuresCardsContainer {
    margin: 1rem 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    .card {
      padding: 0rem 0.5rem 0.5rem 0.5rem;
      .showcase {
        display: flex;
        justify-content: center;
        i {
          color: var(--primaryColor);
          @include linearGradient;
          font-size: 2rem;
        }
      }
      .header {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        margin: 0.5rem;
      }
      p {
        text-align: center;
        color: lightgrey;
      }
    }
  }
}

.FAQsContainer {
  .FAQs {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem;
    .FAQ {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 0.5rem;
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0rem 0.5rem 0rem;
      // transition: 0.2s;
      height: auto;
      .head {
        display: grid;
        grid-template-columns: 60fr 1fr;
        align-items: center;
        width: 100%;
        h3 {
          font-weight: 500;
        }
        i {
          background: var(--primaryColor);
          border-radius: 0.5rem;
          padding: 0.5rem;
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            background: var(--secondaryColor);
          }
        }
      }
      .expand {
        display: none;
        color: lightgrey;
      }
      &.expanded {
        .expand {
          display: flex;
        }
      }
    }
  }
}

.joinNow {
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
  .homeButton.footer {
    width: 15rem;
  }
}

.footerContainer {
  margin: 1rem 0rem 0rem 0rem;
  width: 99.4vw;
  transform: translateX(-25%);
  .footer {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto auto;
    .footerLogo,
    .links,
    .copyright {
      display: flex;
      justify-content: center;
      margin: 0.5rem 0rem 0.5rem 0rem;
    }
    .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      a {
        text-decoration: none;
        color: lightgrey;
        &:hover {
          color: whitesmoke;
          text-decoration: underline;
        }
      }
    }
  }
}
