@import "../../mixins.scss";

.nav {
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1rem;
  z-index: 10;
  a {
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: var(--primaryColor);
      // text-decoration: underline;
    }
  }
  nav li {
    display: block;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    padding: 1rem;
    font-size: 1.5em;
  }
  ul {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .burgerContainer {
    display: none;
  }
  //   .rightNav {
  //     position: absolute;
  //     right: 1rem;
  //     bottom: 0.5rem;
  //   }

  .middleNavOuter {
    z-index: 0;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    transform: translate(50%, -50%);
    top: 450%;
    left: -50%;
    width: 120vw;
    height: 120vh;
    transition: 0.2s;
    display: none;
  }
  .middleNavInner {
    .logoContainer {
      display: none;
    }
  }
}

a.leftNavLink,
a.footerLogoLink {
  text-decoration: none;
}
.leftNav,
.footerLogo {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: 0.2s;
  &:hover {
    transform: scale(1.04);
  }
  svg {
    width: 4rem;
    height: auto;
    padding: 0rem;
  }
  h2 {
    @include linearGradient;
    font-weight: 600;
    color: var(--primaryColor);
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    nav {
      li {
        padding: 1rem;
        font-size: 1.2em;
      }
      .leftNav {
        svg {
          width: 3rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
      .rightNav {
        .homeButton {
          font-size: 1.3rem;
          padding: 0.6rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    nav {
      ul {
        width: 100vw;
      }

      .middleNavOuter {
        &.toggled {
          display: flex;
          background: rgba(0, 0, 0, 0.4);
        }
      }

      .middleNav {
        // display: none;
        background: rgba(0, 0, 0, 1);
        display: flex;
        position: absolute;
        transform: translate(-150%, -2rem); // 2rem to not cover nav
        top: 50%;
        left: 8rem;
        transition: 0.2s;
        padding: 1rem;
        border-radius: 1rem;
        width: auto;
        height: 100vh;

        .middleNavInner {
          display: flex;
          flex-direction: column;
          li {
            cursor: pointer;
            padding: 0rem;
            margin: 0.4rem;
            a {
              font-size: 1.5rem;
              background: rgba(255, 255, 255, 0.1);
              border-radius: 1rem;
              padding: 0.8rem;
              width: 100%;
              height: 100%;
              text-align: left;
              &:hover {
                background: rgba(255, 255, 255, 0.2);
              }
            }
          }
          .logoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            svg {
              width: 4rem;
            }
            h2 {
              font-size: 2rem;
            }
            .leftNav {
              margin: 1rem 0rem 1rem 0rem;
            }
            button {
              float: right;
              padding: 0rem;
              font-size: 2rem;
              text-align: center;
              width: auto;
              height: 3rem;
            }
          }
        }
        &.toggled {
          transform: translate(-50%, -2rem);
        }
      }
      .burgerContainer {
        display: block;
        cursor: pointer;
        .burger {
          div {
            background: white;
            width: 25px;
            height: 3px;
            margin: 5px;
          }
        }
      }
    }
  }
}
